<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link href="/css/style.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
</head>
<body>
<main>
    <ul>
        <li th:each="album : ${albums}">
            <div th:text="${album.title}"></div>
            <img src="" alt="Placeholder"><img>
            <div>
                <p th:text="${album.artist}">Artist</p>
                <p th:text="${album.songCount}">Song Count</p>
                <p th:text="${album.length}">Length</p>
            </div>
        </li>
    </ul>
    <div>Songs:</div>
    <ul th:each="song : &{album.song}">
        <li th:text="${album.title}"></li>
        <li th:text="${album.length}"></li>
        <li th:text="${album.trackNumber}"></li>
    </ul>
    <form action="song.html" method="POST">
        <fieldset>
            <legend>Add a song to this album</legend>
            <label>Song name</label>
            <input type="text" name="title">
            <label>Song duration</label>
            <input type="text" name="length">
            <label>Track Number</label>
            <input type="text" name="trackNumber">
            <input type="hidden" name="songAppearing" th:value="${album.song}">
            <input type="submit" value="Add Song">

        </fieldset>
    </form>
</main>
<form action="/albums" method="POST">
    <fieldset>
        <legend>Add Album</legend>
        <label>Title</label>
        <input type="text" name="title" placeholder="Album Title">
        <label>Artist</label>
        <input type="text" name="artist" placeholder="Album Artist">
        <label>Number of songs</label>
        <input type="number" name="numSongs" placeholder="# of Songs">
        <label>Album Duration</label>
        <input type="number" name="length" placeholder="Album Length">
        <label>Album Cover Image URL</label>
        <input type="text" name="imgUrl" placeholder="Image Url">
        <input type="submit" value="Add Album">
    </fieldset>
</form>
</body>
</html>