<!DOCTYPE html>
<html lang="en">
<link href="/css/style.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
</head>
<body>
<ul>Album 1: Beautiful Minds</ul>
<li>Artist: Rod Wave</li>
<li>Number of songs: 24</li>
<li>Length: 68:20</li>
<img th:src="@{static/img/RodWaveBM.png}"/>
<ul>Album 2: Her Loss</ul>
<li>Artist: Drake & 21 Savage</li>
<li>Number of songs: 16</li>
<li>Length: 60:33</li>
<img th:src="@{static/img/herloss.png}"/>
<ul>Album 3: An Evening with Silk Sonic </ul>
<li>Artist: Silk Sonic</li>
<li>Number of songs: 10</li>
<li>Length: 31:19</li>
<img th:src="@{static/img/silkSonic.png}"/>
</body>
</html>